@font-face {
	font-family: "Century Gothic";
	src: url(../fonts/CG.ttf);
}
@font-face {
	font-family: "Georgia";
	src: url(../fonts/AAIB.ttf);
}
html {
	height: 100%;
}
body {
	position: relative;
	min-height: 100%;
}
a {
	color: white;
	text-decoration: none;
}
.right {
	float: right;
}
.left {
	float: left;
}
.wrap {
	width: 1054px;
	margin: 0 auto;
}
.overflow {
	overflow: hidden;
}
.block {
	display: block;
}
.nodisplay {
	display: none;
}
body {
	font-family: "Century Gothic", Arial, "Heletica CY", "Nimbus Sans L", sans-serif;
	color: #999;	
	font-size: 13px;
	line-height: 20px;
	min-width: 1094px;
	background: url(../img/bg.png);	
}
/* Светящийся оверлей */
body:before {
	content: "";
	position: absolute;
	/* Оверлей на css3 */
	/*background: -webkit-radial-gradient(center top, ellipse cover, white 0%, hsla(0, 0%, 100%, 1) 15%, hsla(0, 0%, 70%, 1) 40%, hsla(0, 0%, 60%, .6) 60%, rgba(0, 0, 0, 0));
	background: -moz-radial-gradient(center top, ellipse cover, white 0%, hsla(0, 0%, 100%, 1) 15%, hsla(0, 0%, 70%, 1) 40%, hsla(0, 0%, 60%, .6) 60%, rgba(0, 0, 0, 0));
	background: -o-radial-gradient(center top, ellipse cover, white 0%, hsla(0, 0%, 100%, 1) 15%, hsla(0, 0%, 70%, 1) 40%, hsla(0, 0%, 60%, .6) 60%, rgba(0, 0, 0, 0));
	background: -ms-radial-gradient(center top, ellipse cover, white 0%, hsla(0, 0%, 100%, 1) 15%, hsla(0, 0%, 70%, 1) 40%, hsla(0, 0%, 60%, .6) 60%, rgba(0, 0, 0, 0));
	background: radial-gradient(center top, ellipse cover, white 0%, hsla(0, 0%, 100%, 1) 15%, hsla(0, 0%, 70%, 1) 40%, hsla(0, 0%, 60%, .6) 60%, rgba(0, 0, 0, 0));*/
	background: url(../img/bg-highlight1.png) center top no-repeat;
	background-size: 100% 100%;
	top: 0;	
	width: 100%;
	height: 994px;
	z-index: -1;
}
/**
* Header
*
* 
*/
body > header {	
	height: 128px;
	position: relative;
	z-index: 3; /* on top */
}
body > header:before {
	position: absolute;
	z-index: -1; /* Задний фон сзади */
	top: 0;
	left: 0;
	content: "";
	width: 100%;
	height: 100%;
	background: url(../img/header-bg.png) repeat-x 1px 0;
}
body > header:after {
	z-index: -2; /* тень позади всего */
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	bottom: 10px;
	box-shadow: 0 3px 12px black;
}
.ie7 body > header {
	background: url(../img/header-bg.png) repeat-x 1px 0;
}
body > header .logo {
	margin: 13px 0 0 1px;
	float: left;
}
body > header .social { /* Ссылки на соц. сети */
	float: right;
	margin: 10px 8px 0 0;
	overflow: hidden;
}
body > header .social li {
	float: left;
	margin-left: 18px;
	width: 21px;
	height: 20px;	
}
body > header .social li:first-child {
	margin-left: 0;
}
body > header .social li a {
	width: 100%;
	height: 100%;
	display: block;
	background: url(../img/social.png) no-repeat;
}
body > header .social li a[href*="facebook"] {
	background-position: 0 -20px;
}
body > header .social li a[href*="twitter"] {
	background-position: 0 -40px;
}

/**
* Рулетка
*
* 
*/
.ruletka {
	overflow: hidden;
	position: relative;
	background: hsla(0, 0%, 0%, .15);
	width: 400px;
	height: 86px;
	z-index: 2;
	margin: -8px auto 0;
	border: 1px solid hsla(0, 0%, 80%, .15);
	border-top: none;
	-webkit-border-radius: 	0 0 10px 10px;
	-moz-border-radius: 	0 0 10px 10px;
	border-radius: 			0 0 10px 10px;
	-webkit-box-shadow: 	0 0 1px hsla(0, 0%, 20%, .15);
	-moz-box-shadow: 		0 0 1px hsla(0, 0%, 20%, .15);
	box-shadow: 			0 0 1px hsla(0, 0%, 20%, .15);
	line-height: 21px;
	font-size: 11px;
	color: white;
}
.ie7 .ruletka,
.ie8 .ruletka {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#26000000, endColorstr=#26000000);
}
.ruletka img {
	margin: 14px 10px 0 50px;
	float: left;
	cursor: pointer;
}
.ruletka img:hover {
}
.ruletka p {
	margin: 25px 0 0 0;
}
.ruletka mark {
	display: block;
	color: white;
	background: none;
	font-size: 16px;
	letter-spacing: 3px;
	margin-bottom: -6px;
}

/**
* Блоки с описанием фильма
*
* 
*/
.description {
	margin-top: 18px;
	*overflow: hidden;
}
.description:after { /* Отмена обтекания */
	content: "";
	clear: both;
	display: block;
	height: 0;
}
.description-box {
	overflow: auto;
	float: right;
	width: 480px;
	height: 496px;
	padding: 7px 20px;
	color: #999;
	background: hsla(0, 0%, 0%, .15);
	-webkit-border-radius: 	10px;
	-moz-border-radius: 	10px;
	border-radius: 			10px;
	-webkit-box-shadow: 0 0 1px hsla(0, 0%, 100%, .1);
	-moz-box-shadow: 	0 0 1px hsla(0, 0%, 100%, .1);
	box-shadow: 		0 0 1px hsla(0, 0%, 100%, .1);
	border-top: 1px solid hsla(0, 0%, 15%, .3);
}
.ie7 .description-box,
.ie8 .description-box {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#26000000, endColorstr=#26000000);
}
.description-box:first-child {
	float: left;
}
.description-box .poster {
	float: left;
	-moz-box-shadow: 	0 1px 5px hsla(0, 0%, 0%, .74);
	-webkit-box-shadow: 0 1px 5px hsla(0, 0%, 0%, .74);
	box-shadow: 		0 1px 5px hsla(0, 0%, 0%, .74);
	margin-right: 15px;
}
.description-box .hgroup {
	overflow: hidden;
}
.description-box .hgroup h1 {
	color: white;
	font-size: 16px;
	float: left;
	line-height: 21px;
}
.description-box .hgroup p {
	font-size: 12px;
	line-height: 21px;
	color: #727272;
}
.description-box .hgroup p:before {
	content: "// ";
	display: inline;
	margin-left: 4px;
}
.description-box blockquote {
	quotes: '«' '»';
	font-size: 12px;
	color: #727272;
	margin-top: -3px;
}
.description-box blockquote:before {
	content: open-quote;
}
.description-box blockquote:after {
	content: close-quote;
}
.description-box header .score {	
	margin-top: 11px;
	font-family: Georgia;
	font-style: italic;
	font-size: 16px;
	line-height: 20px;
	color: white;
	vertical-align: middle;
	white-space: nowrap;
}
.description-box header .score img {
	vertical-align: top;
	margin-right: 16px;
}
.description-box header .score .kinopoisk {
	margin-left: 32px;
	margin-right: 13px;
}
.description-box .lines {
	margin-top: 31px;
}
.description-box h2 + .lines {
	margin-top: 9px;
}
.description-box .lines p {
	height: 31px;
	line-height: 31px;
	font-family: Georgia;
	border-bottom: 2px groove hsla(0, 20%, 10%, .15);
	font-size: 13px;
	font-style: italic;
	color: #666;
	text-shadow: 1px 1px 1px hsla(0, 0%, 0%, .6);
}
.description-box .data {
	margin-left: 208px;	
}
.description-box > h2 {
	clear: both;
	font-size: 15px;
	color: white;
	margin-top: 26px;
	line-height: 1;
}
.description-box .lines mark {
	background: none;
	color: #999;
	font-size: 14px;
	font-style: normal;
	font-family: "Century Gothic";
}
.description-box.spoiler {
	text-align: justify;
	padding-left: 15px;
	width: 485px;
}
/**
* Блок с описанием фильма "Спойлер"
*
* 
*/
.spoiler p {
	text-indent: 31px;
	margin-top: 20px;
}
.spoiler h1 {
	margin-top: 5px;
	font-size: 15px;
	color: white;	
	padding-left: 46px;
	line-height: 28px;
	background: url(../img/h1-spoiler.png) no-repeat;
}
.spoiler h1 + p {
	margin-top: 14px;
}
/* Кнопки */
.buttons {
	margin-top: 20px;
}
.button {
	text-indent: 0;
	margin: 0 0 0 15px;
	display: inline-block;
	padding: 0 10px 0 12px;
	min-width: 125px;
	min-height: 30px;
	font-size: 12px;
	color: #85592e;
	border-radius: 15px;
	text-align: center;
	line-height: 30px;
	background: #fec151;
	background-image: 	-webkit-linear-gradient(to top, #feba48, #feda71);
	background-image: 	   -moz-linear-gradient(to top, #feba48, #feda71);
	background-image: 	     -o-linear-gradient(to top, #feba48, #feda71);
	background-image:	    -ms-linear-gradient(to top, #feba48, #feda71);
	background-image: 	        linear-gradient(to top, #feba48, #feda71);
	-moz-box-shadow: 	0 1px 0 #ffe4b3 inset, 1px 1px 3px hsla(0, 0%, 0%, .4);
	-webkit-box-shadow: 0 1px 0 #ffe4b3 inset, 1px 1px 3px hsla(0, 0%, 0%, .4);
	box-shadow: 		0 1px 0 #ffe4b3 inset, 1px 1px 3px hsla(0, 0%, 0%, .4);
	text-shadow: 		0 1px 0 hsla(0, 0%, 100%, .4);
	font-size: 12px;
}
.button:first-child {
	margin-left: 0;
}
.button.torrent span,
.button.file span,
.button.partner span {
	display: inline-block;
	margin: 0 8px 0 -5px;
	width: 25px;
	height: 24px;
	vertical-align: middle;
	background: url(../img/button-icons.png) no-repeat;	
}
.button.file span {
	background-position: 0 -24px;
	margin-right: 0;
}
.button.partner span {
	background-position: 0 - 48px;
}
.likes {
	margin-top: 20px;
}
/**
* Оформление для каждого слоя
*
* 
*/
.box {	
	margin-top: 30px;
	margin-left: 18px;
	margin-right: 18px;
	position: relative;
}
.box header {
	position: relative;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: bottom;
	background: url(../img/bg-dark.png);
	border: 1px solid hsla(0, 0%, 80%, .1);
	border-bottom: 2px solid transparent;
	border-top: 2px ridge hsla(0, 20%, 10%, .15);
	-webkit-border-radius: 	10px 10px 0 0;	
	-moz-border-radius: 	10px 10px 0 0;	
	border-radius: 			10px 10px 0 0;	
	height: 40px;
	z-index: 2;
	overflow: hidden;
}
.box h1 {	
	padding: 0 30px 0 72px;	
	font-size: 15px;
	line-height: 40px;
	color: white;
	letter-spacing: 1px;
}
.box .main {
	margin: -2px 0 0 0 ;
	background: url(../img/bg-dark.png);
	border: 1px solid hsla(0, 0%, 80%, .1);
	border-top: 2px ridge hsla(0, 20%, 10%, .15);
	-moz-border-radius: 	0 10px 10px;
	-webkit-border-radius: 	0 10px 10px;
	border-radius: 			0 10px 10px;
	padding: 20px;
	height: 305px;
	overflow-x: hidden;
	overflow-y: auto;
}
#slider {
	position: relative;
	width: 986px;
	height: 131px;
	white-space: nowrap;
}
#slider li {
	position: relative;
	display: inline-block !important;
	*display: inline !important;
	*zoom: 1;
}
	
/* Кадры из фильма */
.frames h1 {
	background: url(../img/h1-frame.png) 28px 5px no-repeat;
}
.frames .main {
	clear: both;
	/*padding: 9px 0 10px 25px;	*/
	height: 131px !important;
	position: relative;
	overflow: hidden !important;
}
.frames ul li {	
	margin-left: 17px;
}
.frames ul li:first-child {
	margin-left: 0;
}
.frames ul li img {
	-moz-box-shadow: 	0 1px 5px  hsla(0, 0%, 0%, .8);
	-webkit-box-shadow: 0 1px 5px  hsla(0, 0%, 0%, .8);
	box-shadow: 		0 1px 5px  hsla(0, 0%, 0%, .8);
	width: 178px;
	height: 130px;
}
.frames .arrow-left,
.frames .arrow-right {
	height: 42px;
	width: 40px;	
	background: url(../img/arrow-left.png);
	position: absolute;
	top: 50%;
	margin-top: 1px;
	left: -20px;
	cursor: pointer;
	z-index: 10;	
}
.frames .arrow-right {
	background: url(../img/arrow-right.png);
	left: auto;
	right: -21px;
}
/* Трейлер */
.trailer {
	width: 580px;
	float: left;
}
.trailer h1 {
	background: url(../img/h1-video.png) 28px 5px no-repeat;
}
.comments {
	width: 415px;
	float: left;
	margin-left: 0;
}
.comments h1 {
	background: url(../img/h1-vkontakte.png) 28px 5px no-repeat;
}
footer {
	width: 100%;
	height: 32px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 500;
	padding-top: 70px;
	padding-bottom: 18px;
}
footer .wrap {
	position: relative;
}
footer a {
	color: #f1e358;
	font-size: 16px;
	line-height: 1;
}
footer .line:before,
footer .line:after {
	margin-left: 38px;
	margin-right: 13px;
	margin-bottom: 3px;
 	width: 55px;
	content: "";
	display: inline-block;
	*display: inline;
	*zoom: block;
	border-top: 1px solid #191919;
	border-bottom: 1px solid #373737;
}
footer .line:after {	
	margin-left: 13px;
	margin-right: 36px;	
	width: 800px;
}
footer .copyright {
	text-align: center;
	font-size: 12px;
	color: #d7d1d1;
	font-family: arial;
	line-height: 1;
}
.nav-top {
	padding: 4px 5px;
	display: block;
	position: absolute;
	width: 16px;
	height: 22px;	
	right: 44px;
	top: -15px;
}
.content {
	min-height: 100%;
	padding-bottom: 120px !important;	
}
#img-overlay {
	position: fixed;
	box-shadow: 0 0 5px black;
	z-index: 1000;
	display: none;
}
